@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  font-family: 'Raleway', sans-serif;
}

header {
  text-align: center;
  background: #387f9e;
  padding-bottom: 10px;
}

header nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 15px 2px 0px;
}

header nav ul li a {
  text-decoration: none;
  color: #e589f9;
}

header nav ul .selected {
  font-weight: bold;
}

#title {
  text-align: center;
  padding: 10px;
}

.welcome-message {
  text-align: center;
}

.welcome-message:last-child {
  padding-top: 20px;
}

.image-showcase {
  column-count: 6;
  row-gap: 20px;
  text-align: center;
  padding: 10px;
}

.image-showcase img {
  border-radius: 5%;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  border: 3px solid black;
}
